<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim deserunt assumenda nemo ea fugiat tempore nisi quisquam voluptatum dolorem! Esse eum mollitia quisquam blanditii.
        Laborum amet voluptatum quasi tenetur modi eum eaque quaerat architecto est! Id ab excepturi consequuntur dicta!</p>
    </div>
</div>