<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs ans Mongodb</h1>  
  <p class="lead">Lorem ips sakjdkasjajksjkajdksjadjasksjksjsjdkj.</p>
  <hr class="my-4">
  <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
   Vel consectetur doloremque accusamus alias, neque nihil rerum quos perferendis 
   distinctio aliquid, ea odio reiciendis voluptatibus ducimus qui. Ab ipsum eveniet vero?</p>
   <a href="http://fussionimagen.html5.me" class="btn btn-primary btn-lg">Fussionimagen</a>
</div>